body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.parent {
    grid-template-columns: 100px 100px 100px;
    display: grid;
    gap: 10px;
}
.child {
    background-color: aqua;
}
#wrapper{
    display: grid;
    grid-template-areas: 
    "header header header"
    "1slide main rside"
    "footer footer footer";
}
header {
    grid-area: header;
}
footer{
    grid-area: footer;
}
main{
    grid-area: main;

}
nav{
    grid-area: 1slide;
}