body{
    font-family: 'Times New Roman', Times, serif;
}

.schedule{
    border: thin solid rgb(0, 0, 0);
    border-spacing: 5px;
    border-collapse: separate;
    caption-side: top;
    width: 80%;
    margin: auto;
    background-color: 
    rgb(122, 7, 7);
}

.schedule th, .schedule td {
    border: 1px solid rgb(9, 9, 9);
    padding: 5px;
    background-color: rgb(200, 255, 0);
}

.num{
    vertical-align: middle;
}