
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', Arial, sans-serif;
}

body {
  background-size: cover;
  color: #0f0f0f;
  line-height: 1.6;
  font-size: medium;
  font-weight: 600;
  background-color: #342f4e;
}

header {
  background: rgba(59, 16, 16, 0.8);
  color: #fff;
  text-align: center;
  font-size: larger;
  letter-spacing: 1px;
  border-radius: 20px 20px 0 0;
  width: 700px;
  margin: 40px auto 0;
  padding: 20px;
}

footer {
  background:  rgba(59, 16, 16, 0.8);
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 1rem;
}

main form {
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(10px);
  max-width: 700px;
  margin: 0 auto 40px;
  padding: 30px 40px;
  border-radius: 0 0 12px 12px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}
.form-row,.form-group {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 15px 0;
  flex-wrap: wrap;
}

.form-row label {
  width: 200px;
  font-weight: 600;
  color: #1a1818;
  text-align: right;
}

.form-row input:not([type="submit"]),.form-row select,textarea,input[type="color"],input[type="date"],input[type="month"],input[type="number"],
input[type="tel"] {
  flex: 1;
  padding: 10px 12px;
  border: 1.5px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background: #fefefe;
}

input[type="color"] {
  
  width: 50px;
  height: 35px;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 0;

}

input:focus,textarea:focus,select:focus {
  border-color: #4caf50;
  outline: none;
  background: #f9fff9;
}


fieldset {
  border: 2px solid #4caf50;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 20px 0;
  background: rgba(255, 255, 255, 0.6);
}

legend {
  font-weight: bold;
  background-color: #4caf50;
  color: #eee9e9;
  padding: 5px 12px;
  border-radius: 6px;
}

fieldset label {
  display: inline-block;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 10px;
}

fieldset label:hover {
  background: #e0f7e0;
}

input[type="checkbox"],input[type="radio"] {
  margin-right: 5px;
}

input[type="range"] {
  width: 100%;
  accent-color: #4caf50;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: medium
}
.form-group.submit {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .form-row,
  .form-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-row label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }
  

  input[type="submit"] {
    width: 100%;
    font-size: 1.2rem;
  }

  header {
    width: 90%;
    margin: 20px auto 0;
  }

  main form {
    padding: 20px;
    margin: 20px;
  }
}





