body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('kyoto.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
    padding: 0;
    background-origin: content-box;
    background-clip: border-box;
}
nav{
    text-align: center;
    background-color: aqua;
    padding: 5px;
}
nav a {
      color: rgb(12, 12, 12);
      margin: 0 15px;
      font-weight: bold;
      font-size: medium;
      border-bottom: 2px solid white;

}
header {
    text-align: center;
    background-color: rgb(68, 19, 19);
    
    border: double 5px black;
    border-radius: 25px;
    height: auto;

    box-shadow: 10px 10px 5px grey;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px 15px black;

}
#wrapper {
    background-color: white;
    width: 800px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 3px 3px 10px rgba(46, 38, 38, 0.3);
    border-radius: 10px;
}
.vinay {
    float: right;
    width: 250px;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(80, 76, 76, 0.2);
    text-align: center;
}
main {
    padding: 20px;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-transform: none;
    text-align: justify;

}
footer {
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(heritage.jpg);
    font-weight: bolder;
    color: rgb(0, 8, 8);
    
}
footer {
    text-align: center ;
    font-size: 30px;
    width: 80%;
    margin-left: 50px;
    margin-left: 50px;
    font-style: italic;

    
    

}